@import "tailwindcss";

/* Fonts */
:root {
  --font-alpino: "Alpino", sans-serif;
}
@theme {
  --color-crayola: #2176ff;
  --color-sunset: #fbcf9d;
  --color-chestnut: #a44a3f;
}

@layer base {
  body {
    font-family: var(--font-alpino), sans-serif;
  }
}

@layer utilities {
  @keyframes spin-slow {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .animate-spin-slow {
    animation: spin 6s linear infinite;
  }

  .debug {
    @apply border-2 border-white;
    > * {
      @apply border-2 border-red-500;
    }
  }
}
